body {
    margin: 0;
    padding: 0;
}

/* ---------------------------------- Header --------------------------------------------------*/
.header {
    background: #171717;
    height: 207.63px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.left {
    font-family: 'Rubik';
}

.center img {
    width: 317px;
    height: 165.63px;
}

.right img {
    width: 31px;
    height: 26px;
}

/* ---------------------------- Menu ----------------------------------*/

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

#video_background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    filter: blur(10px);
}

.nav_menu {
    font-family: 'Rubik';
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    line-height: 1.5em;
    color: #fff;
}

ul ul {
    display: none;
}

li:hover ul.submenu1 {
    display: block;
}

li {
    list-style-type: none;
}

.menu img {
    width: 688.66px;
    height: 387.08px;
}

/* ------------------------------------- Newsletter ------------------------------------------*/

.newsletter {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    font-family: 'Rubik';
}

.newsletter h2 {
    text-transform: uppercase;
}

.email {
    width: 244px;
    height: 44px;
}

.signup {
    width: 133.88px;
    height: 50px;
    background: #fff;
    border: solid 2px black;
    text-transform: uppercase;
}

/* ----------------------------------- Search -------------------------------------------------*/

.search {
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search input {
    margin-top: 5%;
    width: 1050px;
    height: 50px;
    border: solid 1px #aaa;
    background: #000;
    color: #aaa;
}

.search h1 {
    color: #fff;
    font-family: 'Oswald';
    font-weight: 400;
    font-style: normal;
    font-size: 53px;
}

/* ----------------------------------------- Summary -----------------------------------------*/

.summary {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

.summary figure {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: justify;

}

.summary figcaption {
    color: #fff;
    font-size: 20px;
    letter-spacing: 0.1em;
    line-height: 1.2em;
    font-family: 'Oswald';
    text-align: center;
}

.summary time {
    color: #aaa;
    font-family: 'Oswald';
}



























































